<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-12" id="posts_container">
          <% @posts.each do |post| %>
            <div class="post_element">
                <h2><%= post.title %></h2>
                <p class="lead">
                    by <a href="#"><%= post.author.full_name %></a>
                </p>
                <hr>
                <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at.strftime("%b %e, %Y %I:%M %p") %></p>
                <p class="lead">
                  <%= post.body %>
                </p>
                <hr>
                <button class="btn btn-success">
                 <%=link_to 'Read More', post_path(post) %>
                </button>
            </div>

            <% end %>
        </div>

    </div>
    <!-- /.row -->

<hr>

<% if current_user %>
  <%= link_to 'Create a new Post', new_post_path, class: 'btn btn-primary' %>
<% end %>
